@charset "utf-8";

@import url(./reset.css);
@import url(./font.css);
@import url(./variable.css);

/* ------------------- */
/* 전역설정 */
/* ------------------- */
* {
    font-family: 'Noto sans KR',sans-serif;
}

.w1200{
    max-width: 1240px;
    width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}
.old::before{
    content: "old";
    font-size: 0.8rem;
    margin-right: 5px;
    padding: 0 5px;
    border-radius: 5px;
    background-color: #ccc;
}

/* ------------------- */
/* header */
/* ------------------- */
header{
    width: 100%;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    
    /* 포지션 */
    position: sticky;
    top: 0;
    z-index: 99;
}
header .logo{
    font: 800 1.5rem 'Noto Sans KR', sans-serif;
}
header .gnb_wrap{
    padding-top: 20px;
    padding-bottom: 20px;
    /* 플렉스 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .gnb_wrap nav{
    /* 플렉스 */
    display: flex;
}
header .gnb li{
    display: inline-block;
    margin-right: 32px;
}
header .gnb li.check{
    color: var(--main-color);
}

/* ------------------- */
/* main */
/* ------------------- */
main > article{
    height: 50vh;
}
main > section{
    height: 95vh;
    padding-top: 8rem;
}
main > section > h2 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 3px solid var(--main-color);
}

/* #project 영역 */
#project nav{
    width: 20vw;
    overflow-y: scroll;
    border-right: none;
    border-left: none;
}
/* main nav ul */
#project .project_list {
    height: 90%;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}
#project .list{
    display: grid;
    /* 간격 */
    row-gap: 10px;
    column-gap: 5px;
}
#project .list > li{
    width: 100%;
    border: 1px solid var(--border-color);
    text-align: center;
}

#project .list a{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px;
}
#project .list a:hover{
    background-color:var(--main-color);
    color: white;
}
#project .list ul > li:nth-child(even){
    border-top: 1px dotted var(--border-color);
}

#project .contents{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    
}
#project .contents > .des{
    background-color:rgb(243, 243, 243);
    padding: 30px;
    border-bottom: 3px solid var(--border-color);
    /* 플랙스 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#project .contents > .des h2{
    font-size: 1.2rem;
    font-weight: 600;
}
#project .contents > .des h2 + p{
    margin-top: 10px;
    font-size: 0.8rem;
}
#project .pageLink{
    color: var(--main-color);
    font: 600 0.8rem/1.6 "Raleway", sans-serif;
}

#project .innerPage, .innerPage > iframe{
    width: 100%;
    height: 100%;
}

/* ------------------- */
/* footer */
/* ------------------- */
footer{
    height: 2vh;
    font-size: 0.8rem;
    color: #ccc;
    padding: 20px 0;
    text-align: center;
}
footer p{
    text-align: center;
}

/* ------------------------------------- */
/* 780px 이하 기기 적용 */
/* ------------------------------------- */
@media screen and (max-width:780px) {

}