@charset "UTF-8";
@import url(./reset.css);
@import url(./font.css);

/* 전역설정 */
body{
    font: 400 14px/1.6 'Noto Sans KR', sans-serif;
}

#wrap{
    width: 1200px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.technology > li{
    /* height: 20px; */
    display: inline-block;
    padding: 2px 5px;
    margin-left: 4px;
    border-radius: 2px;
    background-color: #edf0f7;
    cursor: pointer;
    font-size: 12px;
}

dt, dd{margin-bottom: 10px;}

/* header */
header{
    width: 400px;
}
header > h1{
    font: 600 24px/1.6 'Noto Sans KR', sans-serif;
    margin-bottom: 10px;
}

#propel >ul > li{
    padding: 20px 0;
    border-bottom: 1px solid #ececec;
    margin-top: 20px;
    box-shadow: 0 1px 5px -3px gainsboro;
}
#propel_aboutme{
    white-space: pre-line;
}

/* main */
main{
    width: 680px;
}
main > section{
    padding: 30px;
    margin-bottom: 25px;
    border: 1px solid #ececec;
    border-radius: 10px;
    box-shadow: #ececec 1px 1px 10px 0;
}