@charset "UTF-8";

/* 공통 css */
html,
body{
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    font-family: 'Noto Serif KR', serif;
}

.w1440{
    width: 1440px;
    min-width: 1440px;
    margin: 0 auto;
}

/* ------------- */
/* 헤더 */
/* ------------- */
header{
    width: 100%;
    padding: 3rem 5rem;
    /* 플렉스 */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    /* 포지션 */
    position: absolute;
    top: 0;
    left: 0;
}
.gnb{
    /* 플렉스 */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.gnb a{
    font-size: 1.8rem;
    color: #fff;
    text-align: end;
}
.gnb a span{
    display: block;
    font-size: 1.6rem;
}
/* 햄버거 메뉴, 모바일에서만 보이게 */
.hambager_btn,
input[id="ham"] {
    display: none;
}


/* ------------- */
/* 메인 */
/* ------------- */
.main_page{
    width: 100%;
    height: 100vh;
    text-align: right;
    padding-top: 30rem;
    padding-right: 10rem;
    /* 배경 이미지 */
    background: url(../images/main_visual01.jpg) no-repeat right;
    background-size: cover;
    animation: bgImg 30s 0s infinite linear;
}
@keyframes bgImg {
    0% {
        background-position: 60% top;
    }
    100% {
        background-position: 100% top;
    }
}
.main_page p{
    margin-top: 4rem;
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.6;
}
.main_page p strong{
    font-weight: 600;
}

.section02{
    width: 100%;
    height: 100vh;
    /* 배경 이미지 */
    background: url(../images/main_visual02.jpg) no-repeat right;
    background-size: cover;
}


/* ------------- */
/* 푸터 */
/* ------------- */
footer {
    font-size: 1.6rem;
    text-align: center;
    line-height: 2;
    color: #865b41;
    padding: 4rem;
}
footer dt {
    display: inline-block;
    font-size: 1.4rem;
    margin-right: 2rem;
}
footer dd {
    display: inline-block;
    font-size: 1.8rem;
}
footer li {
    display: inline-block;
}
footer li:nth-child(2) {
    margin: 0 2rem;
}
.copy_right{
    font-size: 1.4rem;
}


/* ------------- */
/* 반응형 : 768px */
/* ------------- */
@media screen and (max-width: 768px) {
    /* ------------- */
    /* 헤더 */
    /* ------------- */
    .hambager_btn{
        display: block;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        /* 포지션 */
        position: relative;
        z-index: 100;
    }
    .hambager_btn div{
        width: 100%;
        height: 0.2rem;
        background: #fff;
        transition: all 0.3s;
    }
    .hambager_btn div:nth-child(2) {
        margin: 1rem;
    }
    /* 햄버거 메뉴 열릴 시 */
    input[id="ham"]:checked + .hambager_btn div {
        /* 포지션 */
        position: absolute;
        top: 50%;
    }
    input[id="ham"]:checked + .hambager_btn div:nth-child(2) {
        display: none;
    }
    input[id="ham"]:checked + .hambager_btn div:nth-child(1) {
        transform: rotate(135deg);
    }
    input[id="ham"]:checked + .hambager_btn div:nth-child(3) {
        transform: rotate(45deg);
    }    
    input[id="ham"]  ~ nav {
        width: 100%;
        height: 100vh;
        padding: 20rem;
        background: rgba(0, 0, 0, 0.8);
        /* 포지션 */
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 99;
        transition: all 0.3s;
    }
    input[id="ham"]:checked  ~ nav {
        left: 0;
    }
    input[id="ham"]  ~ nav .gnb{
        flex-flow: column wrap;
    }
    input[id="ham"]  ~ nav .gnb li{
        width: 100%;
        padding-bottom: 2rem;
        border-bottom: 1px solid #fff;
        margin-bottom: 2rem;
    }
    input[id="ham"]  ~ nav .gnb li span{
        display: inline-block;
    }

    .main_page{
        background-position: center;
    }
}

/* ------------- */
/* 반응형 : 360px */
/* ------------- */
@media screen and (max-width:360px) {

}