@charset "UTF-8";
@import url(./reset.css);
@import url(./font.css);

/* 전역설정 */
html, body{
	height: 100%;
	width: 100%;
}

body{
    font: 400 16px/1.8 'Noto Sans KR', sans-serif;
}

#wrap{
    width: 1000px;
    padding: 20px 30px 0;
    margin: 0 auto;
    /* 플렉스 */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

i{
    margin-right: 3px;
}

dt, dd{
    margin-bottom: 10px;
}
.txt_small {
    width: 160px;
    font-size: 14px;
    color:#afb6bc;
}

/* 기술리스트 */
.technology > li{
    /* height: 20px; */
    display: inline-block;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #edf0f7;
    cursor: pointer;
    font-size: 12px;
}
.technology.blue > li{
    background-color: #2a424e;
    color: white;
}


/* 개별설정 */
/* header */
header{
    width: 360px;
    margin-right: 30px;
}
header > h1{
    font: 600 24px/1.6 'Noto Sans KR', sans-serif;
    margin-bottom: 10px;
}
article, #propel >ul{
    height: 100%;
}
#propel >ul{
    overflow: hidden;
}
#propel >ul > li{
    padding: 20px 0;
    border-bottom: 1px solid #ececec;
    box-shadow: 0 3px 6px -3px gainsboro;
}
#propel_aboutme{
    white-space: pre-line;
}

/* main */
main{
    width: 600px;
}
main > section{
    padding: 25px 20px;
    margin-bottom: 25px;
    border: 1px solid #ececec;
    border-radius: 10px;
    box-shadow: #ececec 1px 1px 10px 0;
}

/* .content_box */
/* content_box_header */
.content_box_header{
    width: 160px;
    margin-bottom: 10px;
}


/* content_box_contents */
.content_box_contents:has(+.content_box_contents){
    padding-bottom: 15px;
}
.content_box_contents + .content_box_contents{
    padding-top: 15px;
    border-top: #ececec solid 1px;
}

.content_box_contents > dl{
    width: 400px;
}

.content_box_contents dt {
    font-weight: 600;
}

/* 플렉스박스 */
.one_box{
    display: flex;
}
.content_box_contents:has(.txt_small){
    display: flex;
}


.skill-level_img > li{
    width: 80px;
    display: inline-block;
    margin-right: 10px;
}