/* reset.css */
/* 브라우저에서 기본적으로 세팅되어있는 css를 리셋하는 것 */
*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5,h6 {
    font-size: 16px;
    font-weight: normal;

}
a, a:visited{
    color: inherit; /* 상속 */
    text-decoration: none;

}
li{
    list-style: none;
}
img{
    vertical-align: top; /*기본적으로 씌여진 공백을 없애준다*/
}
/* 리셋 끝 */
