@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
/* 전역설정 */
html, body{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-size: 62.5%;
    font-family: 'NanumSquare';
}

#wrap{
    min-width: 1320px;
    margin: 0 auto;
}

.w1280{
    width: 1280px;
    margin: 0 auto;
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }
/* ------------------------ */
/* 공통적으로 사용하는 CSS */
.hidden {
    display: none;
}

.alert{
    background: #000;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.8rem;
    border-radius: 25px;
    white-space: nowrap;
    /* 포지션 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    opacity: 0;
    display: none;
}
.showAlert{
    display: block;
    animation: showAni 2s;
}

.showAni{
    animation: showAni 2s;
}
@keyframes showAni {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes showAni_toBottom {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
/* ------------------ */
/* 헤더 */
header{
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.4) 0%, transparent 8%);
    /* border-bottom-right-radius: 100% 30%;
    border-bottom-left-radius: 100% 30%; */
    /* 포지션 */
    position: relative;

    border-bottom-right-radius: 50% 26%;
    border-bottom-left-radius: 50% 26%;
}

/* ------------------ */
/* 배경 영상 */
.bgImg {
    width: 100%;
    height: 100%;
    /* 포지션 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.playVideo{
    height: 0;
    /* 포지션 */
    position: relative;
    padding-bottom:56.25%;
}
.playVideo object{
    width: 160%;
    height: 160%;
    /* 포지션 */
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
}

.playDown{
    width: 3rem;
    height: 5rem;
    padding: 0.5rem 0;
    border: 1px solid #fff;
    border-radius: 2rem;
    cursor: pointer;
    /* 포지션 */
    position: absolute;
    bottom: 2rem;
    left: 50%;
}
.playDown div{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #fff;
    margin: 0 auto;
    animation: pageDown 3s ease infinite;
}
@keyframes pageDown {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(300%);
    }
    100%{
        transform: translateY(0%);
    }
}
/* ------------------ */
/* 헤더 컨테이너 */
.header_wrap {
    height: 64px;
    padding: 40px 0;
}

/* 삼단플롯 .logo .gnb_wrap */
.header_wrap .logo{
    float: left;
}

/* 헤더 메뉴 */
.header_wrap .gnb_wrap{
    height: 50px;
    line-height: 40px;
    /*플롯 */
    float: right;
}
.header_wrap .gnb{
    float: left;
}
/* gnb */
.header_wrap .gnb > li {
    display: inline-block;
    height: 50px;
    margin-left: 40px;

    /* 포지션 */
    position: relative;
}
.header_wrap .gnb li a{
    display: inline-block;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;

    overflow: hidden;
    /* 포지션 */
    position: relative;
}
.header_wrap .gnb > li > a::before{
    content: "";
    display: none;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #608106;
}
.header_wrap .gnb > li:hover > a::before{
    display: inline-block;
    left: 0;
    animation: showBottom 0.3s;
}
@keyframes showBottom {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

/* 공통 gnb css */
.header_wrap .snb{
    display: none;
    width: 200px;
    padding: 10px 15px;
    background-color: #ddd;
    /* 포지션 */
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
}
.header_wrap .snb li {
    width: 100%;
    height: 40px;
}
.header_wrap .snb li a{
    display: inline-block;
    width: 100%;
    color: #111;
    font-size: 1.6rem;
}
/* 호버시 */
.header_wrap li:hover .snb{
    display: block;
}
.header_wrap li .snb li:hover {
    color: #608106;
    border-bottom: 1px solid #608106;
}

/* lnb 메뉴 리스트 */
.header_wrap .lnb{
    margin-left: 30px;
    /* 플롯 */
    float: right;
}
.header_wrap .lnb > li {
    display: inline-block;
    /* 포지션 */
    position: relative;
}
.header_wrap .lnb > li > a{
    padding: 0 20px;
    font-size: 24px;
    color: #fff;
}
.header_wrap .lnb li .snb{
    position: absolute;
    left: auto;
    right: 0;
}
.header_wrap .lnb li:hover i{
    color: #608106;
}
/* -------------------------- */
/* 메인 비디오 텍스트 부분 */
#bg_txt{
    /* 포지션 */
    position: absolute;
    bottom: 30%;
    z-index: 20;
}
#bg_txt > h2{
    padding-bottom: 10px;
    letter-spacing: 15px;
    font-size: 7rem;
    font-weight: 800;
    color: #fff;
    border-bottom: 1px solid;
}
#bg_txt > p {
    line-height: 1.6;
    font-size: 2rem;
    color: #fff;
    margin: 30px 0;
    
}
#bg_txt a{
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 5rem;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 1.5rem 3rem;
    color: #fff;
}
/* ================ */
/* 메인 */
/* ================ */
/* ----------------- */
/* 메인 컨텐츠 */
#main_content{
    /* height: 100vh; */
    padding-top: 13rem;
    border-bottom: 1px solid #DBDBDB;
    overflow: hidden;
}
#main_content .main_text{
    text-align: center;
}
#main_content .main_text h2{
    font-size: 4.2rem;
    font-weight: 800;
    margin-bottom: 40px;
}
#main_content .main_text p{
    height: 10rem;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #767676;
}
/* ---------------- */
/* 컨텐츠 슬라이드 커스텀 */
.content_img_wrap{
    margin: 10rem 0;
}
.content_img_wrap ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.content_img_wrap li{
    width: 30%;
    text-align: center;
}
.content_img_wrap picture{
    display: block;
    width: 30rem;
    height: 30rem;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.content_img_wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content_img_wrap .content_text{
    display: none;
    margin: 4rem auto;
    transition: all 3s;
}
/* 슬라이드 활성화되면 텍스트 보이게 */
.swiper-slide-active .content_text{ 
    display: block;
    animation: text-ani 1s .2s both;
}
.content_img_wrap h3{
    font-size: 2.5rem;
    font-weight: 600;
    color: #111;

}
.content_img_wrap p{
    font-size: 1.6rem;
    color: #767676;
    margin: 1.6rem;
}

/* 슬라이드 커스텀 */
.content-slider{
    padding: 0 8rem;
}
.swiper-slide{
    text-align: center;
}
.swiper-button-next, .swiper-button-prev{
    color: #111;
}

/* 컨텐츠 텍스트 */
#content_info{
    font-size: 1.6rem;
    color: #767676;
    padding-bottom: 2rem;
}
#content_info > span{
    float: left;
}
#content_info strong {
    font-weight: 600;
    color: #3f3e3e;
}
#content_info > a {
    float: right;
    line-height: 10px;
}
#content_info > a > img{
    width: 8px;
    margin-left: 10px;
    vertical-align:middle;
}
/* ----------------- */
/* 컨텐츠 1 */
/* ----------------- */
.about_us{
    height: 100vh;
    padding-top: 200px;
    
    
    margin-bottom: 230px;
    /* 포지션 */
    position: relative;
}
.about_us h2{
    font-size: 4.2rem;
    font-weight: 800;
    margin-bottom: 20px;
}
.about_text_wrap{
    width: 580px;
    font-size: 1.6rem;
    /* 플롯 */
    float: left;
}

/* areaBtn */
.areaBtn ul{
    text-align: center;
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 20px;
    background-color: #fff;
    /* 플렉스 */
    display: flex;
    justify-content: space-around;
}
.areaBtn li{
    display: inline-block;
    line-height: 80px;
    font-weight: 600;
    margin: 0 35px;
    cursor: pointer;
    /* 포지션 */
    position: relative;
}
.areaBtn li.check::after{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #608106;
    /* 포지션 */
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 1;
}
/* 호버시 이벤트 */
.areaBtn li.check,
.areaBtn li:hover{
    color: #608106;
}

/* 지역에 대한 설명 스타일 */
.location li{
    display: none;
    height: 250px;
    color: #767676;
    animation: showAni 2s;
}
.location li.check{
    display: block;
}

/* 해당 지역에 대한 설명 */
.location li  p{
    margin: 50px 0;
    line-height: 1.6;
    animation: showAni_toBottom 1s;
}
/* 주요 생산 제품 */
.location li a{
    display: inline-block;
    color: #767676;
    padding-bottom: 5px;
    border-bottom: 1px solid #767676;
}
.location li a:hover{
    color: #608106;
    border-bottom: 1px solid #608106;
}

/* 지도 이미지 */
.location_img{
    width: 370px;
    /* 포지션 */
    position: absolute;
    bottom: 0;
    right: 50%;
    z-index: -1;
}
.location_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* 해당 지역 사진 */
.about_img_wrap{
    /* 플롯 */
    float: right;
}
.about_img_wrap li{
    display: none;
}
.about_img_wrap li.check{
    display: block;
}
.about_img{
    display: inline-block;
    width: 320px;
    height: 600px;
    margin-left: 20px;
}
.about_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about_img:last-child{
    transform: translateY(-70px);
}
/* ----------------- */
/* 컨텐츠 2 */
/* ----------------- */
#main_content2{
    width: 100%;
    height: 100vh;
    padding: 10rem 0;
}
/* -------------------- */
/* 박스 슬라이드 커스텀 */
.main-slider{
    width: 100%;
    height: 100%;
    /* 포지션 */
    position: relative;
}
.main-slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-pagination-bullet-active{
    background-color: #608106;
}
/* 박스슬라이더 텍스트 애니메이션 */
.info-box-wrap{
    height: 100%;
    /* 포지션 */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
.swiper-slide .info-box{
    width: 50rem;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    padding: 10% 20px 0;
}
/* 슬라이드마다 배경 색 다르게 */
/* .swiper-slide.mbaner01 .info-box{background-color: rgba(75, 89, 59, 0.8);}
.swiper-slide.mbaner02 .info-box{background-color: rgba(89, 68, 59, 0.8);}
.swiper-slide.mbaner03 .info-box{background-color: rgb(189 45 62 / 80%);} */

.swiper-slide .info-box h2{
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 800;
    color: #111;
}
.swiper-slide .info-box h2::after{
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    margin: 10px 0;
    background-color: #111;
}
.swiper-slide .info-box p{
    font-size: 2rem;
    line-height: 1.6;
    color: #767676;
}

/* 애니메이션 효과 */
.swiper-slide-active .info-box h2 {
    animation: text-ani 1s .1s both;
}
.swiper-slide-active .info-box p {
    animation: text-ani 1s .2s both;
}

@keyframes text-ani {
    0% { opacity: 0; transform: translateY(50px)};
    100% { opacity: 1; transform: translateY(100%)};
}

/* ----------------- */
/* 컨텐츠 3 */
/* ----------------- */
#main_content3{
    padding-top: 150px;
}
.since_img_wrap{
    width: 55%;
    height: 100%;
    /* 플롯 */
    float: left;
}
.since_img{
    display: inline-block;
    width: 320px;
    height: 700px;
    margin-left: 20px;
    margin-bottom: 20px;

}
.since_img_wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* 텍스트 */
.since_text_wrap{
    width: 40%;
    height: 260px;
    /* 플롯 */
    float: right;
    /* 포지션 */
    position: sticky;
    top: 8rem;
}

.since_text_wrap h2{
    font-size: 10rem;
    color: #111;
}

/* ----------------- */
/* 컨텐츠 4 */
/* ----------------- */
#main_content4{
    margin-top: 150px;
    height: 700px;
    padding-top: 70px;
    background-color: #dcdcdc;
}

/* ----------------- */
/* 컨텐츠 5 */
/* ----------------- */
#main_content5{
    height: 240px;
    background-color: #608106;
}
/* ==================== */
/* 푸터 */
/* ==================== */
footer{
    height: 550px;
    font-size: 1.6rem;
    color: #111;
    background-color: #F5F5F5;
}
#footer_container{
    padding: 80px 0 50px 0;
    border-bottom: #c7c4c4 solid 1px;
    margin-bottom: 50px;
}
/* 푸터 기업소개 */
#footer_logo{
    width: 310px;
    text-align: left;
    line-height: 1.3;
    /* 플롯 */
    float: left;
}
#footer_logo > .logo{
    width: 130px;
    margin-bottom: 10px;
}
#footer_logo > p{
    margin-bottom: 30px;
    color: #767676;
}

/* 푸터 네비 */
#nnb{
    width: 770px;
    float: right;
    padding-top: 20px;
    line-height: 2;
}
#nnb > div{
    text-align: left;
    display: inline-block;
    margin-right: 180px;
    
    vertical-align: top;
}
#nnb > div:last-child{
    margin-right: 0;
}
#nnb h3{
    font-size: 1.8rem;
    margin-bottom: 25px;
}
#nnb li{
    color: #767676;
    cursor: pointer;
}
#nnb li:hover{
    color: #608106;
}
/* 푸터 SNS */
#SNS > li{
    display: inline-block;
    margin-right: 20px;
}
#SNS img{
    width: 30px;
}

/* ======================= */
/* top 버튼 */
/* ======================= */
.top a {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 50%;
    background-color: #fff;
    font-size: 10px;
    /* 플렉스 */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* 포지션 */
    position: fixed;
    bottom: 40px;
    right: 35px;
    z-index: 999;
}

.top a:hover{
    border: 1px solid #6d6d6d;
    background-color: #6d6d6d;
    color: #fff;
}