@import url(./reset.css);
@import url(./font.css);

/* 전역설정 */
html, body{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#wrap{
    min-width: 1320px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.w1280{
    width: 1280px;
    margin: 0 auto;
}
/* ------------------ */
/* 헤더 */
#header_container{
    height: 850px;
    overflow: hidden;
    /* 포지션 */
    position: relative;
}
/* ------------------ */
/* 배경 영상 */
.bgImg {
    width: 100%;
    height: 100%;
    /* 포지션 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.playVideo{
    height: 0;
    /* 포지션 */
    position: relative;
    padding-bottom:56.25%;
    z-index: -1;
}
.playVideo iframe{
    width: 120%;
    height: 160%;
    /* 포지션 */
    position: absolute;
    top: -20%;
    left: 0;
    z-index: -1;
}

/* ------------------ */
/* 헤더 */
header{
    height: 64px;
    padding: 40px 0;
}

/* 삼단플롯 .logo .gnb_wrap */
.logo{
    float: left;
}

/* 헤더 메뉴 */
.gnb_wrap{
    float: right;
    height: 50px;
    line-height: 50px;
}
.gnb{
    float: left;
}
.gnb li {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
    color: #fff;
}

/* 호버시 */
.gnb li:hover{
    color: #769b52;
}

/* lnb 메뉴 리스트 */
.lnb{
    /* 플롯 */
    float: right;
}
.lnb li {
    display: inline-block;
    font-size: 24px;
    color: #fff;
    margin-right: 20px;
}
.lnb a{
    display: inline-block;
    width: 25px;
}
/* -------------------------- */
/* 메인 비디오 텍스트 부분 */
#bg_txt{
    padding-top: 30%;
}
#bg_txt > h2{
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
#bg_txt > p {
    line-height: 1.3;
    font-size: 20px;
    color: #ffffff;
}
#bg_txt > button{
    font-weight: 600;
    margin-top: 15px;
    padding: 15px 30px;
    color: #769b52;
    background-color: #fff;
    /* 커서 포인트 */
    cursor: pointer;
}

/* 메인 */
/* 컨텐츠 */
#main_content{
    height: 560px;
    background-color: #b4b4b4;
}
.main_content_img{
    width: 100%;
    height: 560px;
    border-radius: 100%;
    background-color: #b4b4b4;
    transform: translateY(-200px);
}
#main_content img{
    width: 400px;
    cursor: pointer;
    float: left;
    margin-right: 40px;
}
#main_content img:last-child{
    float: right;
    margin-right: 0;
}

/* 컨텐츠 텍스트 */
#contentTxt{
    color: #807f7f;
}
#contentTxt > span{
    float: left;
}
#contentTxt strong {
    font-weight: 600;
    color: #3f3e3e;
}
#contentTxt > a {
    float: right;
    line-height: 10px;
}
#contentTxt > a > img{
    width: 8px;
    margin-left: 10px;
    vertical-align:middle;
}

/* 컨텐츠 1 */
#main_content1{
    height: 872px;
    padding: 100px 0;
}
#main_content1 > p{
    height: 172px;
    line-height: 40px;
    color: #807f7f;
    text-align: center;
}
#main_content1 > hr{
    display: block;
    width: 212px;
    height: 5px;
    margin: 50px auto 150px;
    text-align: center;
    background: #769b52;
}
.about_text_wrap{
    width: 580px;
    /* 플롯 */
    float: left;
}
.about_text_wrap h2{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 10px;
}
/* areaBtn */
.areaBtn ul{
    text-align: center;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}
.areaBtn li{
    display: inline-block;
    line-height: 80px;
    font-weight: 600;
    margin: 0 35px;
    cursor: pointer;
    /* 포지션 */
    position: relative;
}
.areaBtn li.check::after{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #769b52;
    /* 포지션 */
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 1;
}
/* 호버시 이벤트 */
.areaBtn li.check,
.areaBtn li:hover{
    color: #769b52;
}

.location li{
    display: none;
    color: #807f7f;
    margin-bottom: 40px;
}
.location li.check{
    display: block;
}
/* .about_text_wrap 상세정보 표시 */
.about_text_wrap p{
    height: 200px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about_img_wrap{
    /* 플롯 */
    float: right;
}
.about_img{
    display: inline-block;
    width: 320px;
    height: 600px;
    margin-left: 20px;
}
.about_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* 컨텐츠 2 */
#main_content2{
    height: 860px;
    background: no-repeat top center url(../images/mov_back.jpg);
}
#main_content2 > figure{
    width: 1060px;
    height: 800px;
    padding-top: 300px;
    cursor: pointer;
}
#main_content2 > figure iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 컨텐츠 3 */
#main_content3{
    height: 700px;
    padding: 100px 0;
}

/* 컨텐츠 4 */
#main_content4{
    height: 692px;
    padding-top: 70px;
    background-color: #dcdcdc;
}

/* 컨텐츠 5 */
#main_content5{
    height: 240px;
    background-color: #ffcc33;
}

/* 푸터 */
footer{
    height: 550px;
    color: #fff;
    background-color: black;
}
#footer_container{
    padding: 130px 0 50px 0;
    border-bottom: #c7c4c4 solid 1px;
    margin-bottom: 50px;
}
/* 푸터 기업소개 */
#footer_logo{
    width: 310px;
    float: left;
    text-align: left;
    line-height: 1.3;
}
#footer_logo > .logo{
    width: 130px;
    margin-bottom: 10px;
}
#footer_logo > p{
    margin-bottom: 30px;
    color: #807f7f;
}

/* 푸터 네비 */
#nnb{
    width: 770px;
    float: right;
    padding-top: 20px;
    line-height: 2;
}
#nnb > div{
    text-align: left;
    display: inline-block;
    margin-right: 180px;
    
    vertical-align: top;
}
#nnb > div:last-child{
    margin-right: 0;
}
#nnb h3{
    font-size: 18px;
    margin-bottom: 25px;
}
#nnb li{
    color: #807f7f;
    cursor: pointer;
}
#nnb li:hover{
    color: #ffcc33;
}
/* 푸터 SNS */
#SNS > li{
    display: inline-block;
    margin-right: 20px;
}
#SNS img{
    width: 30px;
}

