@import url(./reset.css);
@import url(./font.css);

/* 전역설정 */
html, body{
    width: 100%;
    height: 100%;
}
#wrap{
    font-family: 'Nunito', sans-serif;
}
.inside{
    width: 1320px;
    padding: 40px 20px;
    margin: 0 auto;
}

/* 헤더 */
#header_container{
    color: white;
    height: 700px;
    background: no-repeat url(../img/Untitled-1.png) linear-gradient(#b4b4b4 rgba(0,0,0,0) top);
}
header{
    height: 50px;
}
header > .logo{
    float: left;
}
header > .gnb{
    width: 770px;
    font-size: 13px;
    float: right;
}
header > .gnb li {
    display: inline-block;
    margin-left: 20px;
}
header > .gnb li:first-child{
    margin-left: 0;
}
header > .gnb li#search{
    width: 90px;
    cursor:pointer;
}
header > .gnb li#search > i{
    float: right;
}

/* 배경이미지 */
article{
    height: 700px;
    /* background-color: #b4b4b4; */
}

/* 메인 */
main{
    height: 3354px;
}
#main_content{
    height: 558px;
    background-color: #b4b4b4;
}
#main_content1{
    height: 872px;
}
#main_content2{
    height: 1560px;
}
#main_content3{
    height: 692px;
    background-color: #dcdcdc;
}
#main_content4{
    height: 230px;
    background-color: #ffcc33;
}

/* 푸터 */
footer{
    height: 550px;
    color: white;
    background-color: black;
}