@import url(./reset.css);
@import url(./font.css);

/* 전역설정 */
#wrap{
    max-width: 1920px;
    min-width: 1180px;
    background-color: #ccc;
}
/* 세이프존 */
.w1180{
    width: 1180px;
    margin: 0 auto;
}
.w690{
    width: 690px;
}

/* 헤더 */
header{
    background-color: #fff;
}

/* header_container */
.header_container{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #000;
    /* 포지션 */
    position: relative;
}

/* search_bar */
.search_bar > * {
    display: inline-block;
}
.line{
    display: inline-block;
    width: 1px;
    height: 15px;
    vertical-align: middle;
    padding-right: 10px;
    border-right: 1px solid #000;
    margin-right: 10px;
}

/* user_bar */
.user_bar{
    /* 포지션 */
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.user_bar li{
    display: inline-block;
}

/* GNB */
header > nav {
    height: 50px;
    line-height: 50px;
    /* 포지션 */
    position: relative;
}
.gnb li{
    display: inline-block;
}
.gnb .gnb_more_list{
    display: none;
}

header > nav > p{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* main */
main{
    padding: 20px 30px;
}
main .main_left{
    float: left;
}
main .main_right{
    float: right;
}

main .card_box{
    box-shadow: black 0 0 1px 0;
    border-radius: 3px;
    background-color: #fff;
}


aside.card_box{
    width: 400px;
    padding: 15px 20px;
}

section.card_box{
    width: 670px;
    padding: 20px 10px;
    margin-right: 50px;
}

