@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

/* 전역설정 */
html, body{
    height: 100%;
    width: 100%;
    min-width: 1440px;
    margin: 0 auto;
    font-size: 62.5%;
    font-family: 'NanumSquare', sans-serif;
}

#wrap{
    margin: 0 auto;
}

.w1440{
    width: 1440px;
    min-width: 1440px;
    margin: 0 auto;
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }
/* ------------------------ */
/* 공통적으로 사용하는 CSS */
.hidden {
    display: none !important;
}

.alert{
    background: #000;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.8rem;
    border-radius: 25px;
    white-space: nowrap;
    /* 포지션 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    opacity: 0;
    display: none;
}
.showAlert{
    display: block;
    animation: showAlert 2s;
}
@keyframes showAlert {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.showAni{
    animation: showAni 2s;
}
@keyframes showAni {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes showAni_toBottom {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
/* ======================= */
/* 헤더 */
/* ======================= */
header {
    width: 100%;
    height: 70px;
    padding: 10px 0;
    /* 포지션 */
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}
/* 헤더 픽스 */
header.fixed{
    position: fixed;
    top: 0;
    background: #fff;
}
header.fixed .gnb li a,
header.fixed .lnb li a{
    color: #111;
}
header.fixed .logo a{
    background: url(../images/logo_black.png) no-repeat center;
}

/* 삼단플롯 .logo .gnb_wrap */
header .logo{
    float: left;
}
header .logo a{
    display: inline-block;
    width: 109px;
    height: 50px;
    background: url(../images/logo_white.png) no-repeat center;
    background-size: 100%;
}
/* 헤더 메뉴 */
header .gnb_wrap{
    height: 50px;
    line-height: 40px;
    /*플롯 */
    float: right;
}
header .gnb{
    float: left;
}
/* gnb */
header .gnb > li {
    display: inline-block;
    margin-left: 40px;
    
    /* 포지션 */
    position: relative;
}
header .gnb li a{
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;

    overflow: hidden;
    /* 포지션 */
    position: relative;
}
header .gnb > li > a::before{
    content: "";
    display: none;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #608106;
}
header .gnb > li:hover > a::before{
    display: inline-block;
    left: 0;
    animation: showBottom 0.3s;
}
@keyframes showBottom {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

/* 공통 gnb css */
header .snb{
    display: none;
    width: 200px;
    padding: 10px 15px;
    border: 1px solid #DBDBDB;
    background-color: #fff;
    /* 포지션 */
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
}
header .snb li {
    width: 100%;
    height: 4rem;
}
header .snb li a{
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #111;
    font-size: 1.6rem;
}
/* 호버시 */
header li:hover .snb{
    display: block;
}
header li .snb li:hover {
    color: #608106;
    border-bottom: 1px solid #608106;
}

/* lnb 메뉴 리스트 */
header .lnb{
    margin-left: 30px;
    /* 플롯 */
    float: right;
}
header .lnb > li {
    display: inline-block;
    /* 포지션 */
    position: relative;
}
header .lnb > li > a{
    line-height: 50px;
    padding: 0 20px;
    font-size: 24px;
    color: #fff;
}
header .lnb li .snb{
    /* 포지션 */
    position: absolute;
    left: auto;
    right: 0;
    transform: translateY(110%);
}
header .lnb li:hover i{
    color: #608106;
}
/* ------------------ */
/* 배경 영상 */
.videoTitle{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.4) 0%, transparent 8%);
    /* 포지션 */
    position: relative;
}
.bgImg {
    width: 100%;
    height: 100%;
    /* 포지션 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.playVideo{
    height: 0;
    /* 포지션 */
    position: relative;
    padding-bottom:56.25%;
}
.playVideo object{
    width: calc(160vh + 40%);
    height: 160vh;
    /* 포지션 */
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
}
.playVideo img{
    height: 160vh;
    /* 포지션 */
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
}
.playDown{
    width: 3rem;
    height: 5rem;
    padding: 0.5rem 0;
    border: 1px solid #fff;
    border-radius: 2rem;
    cursor: pointer;
    /* 포지션 */
    position: absolute;
    bottom: 2rem;
    left: 50%;
}
.playDown div{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #fff;
    margin: 0 auto;
    animation: pageDown 3s ease infinite;
}
@keyframes pageDown {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(300%);
    }
    100%{
        transform: translateY(0%);
    }
}
/* ------------------ */
/* 헤더 컨테이너 */
/* -------------------------- */
/* 메인 비디오 텍스트 부분 */
#bg_txt{
    /* 포지션 */
    position: absolute;
    bottom: 30%;
    z-index: 20;
}
#bg_txt > h2{
    padding-bottom: 10px;
    letter-spacing: 8px;
    font-size: 7rem;
    font-weight: 800;
    color: #fff;
    border-bottom: 1px solid;
}
#bg_txt > p {
    line-height: 1.6;
    font-size: 2rem;
    color: #fff;
    margin: 30px 0;
    
}
#bg_txt a{
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 5rem;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 1.5rem 3rem;
    color: #fff;
}
/* ================ */
/* 메인 */
/* ================ */
main{
    scroll-snap-type: y mandatory;
    font-family: 'Gowun Dodum', sans-serif;
}
main section {
    scroll-snap-align: center;
}
/* ----------------- */
/* 메인 컨텐츠 */
#main_content{
    /* height: 100vh; */
    padding-top: 13rem;
    border-bottom: 1px solid #DBDBDB;
    overflow: hidden;
}
#main_content .main_text{
    text-align: center;
}
#main_content .main_text h2{
    font-size: 4.2rem;
    font-weight: 800;
    margin-bottom: 40px;
}
#main_content .main_text p{
    font-size: 1.6rem;
    line-height: 1.6;
    color: #767676;
}
/* ---------------- */
/* 컨텐츠 슬라이드 커스텀 */
.content_img_wrap{
    margin: 10rem 0;
}
.content_img_wrap ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.content_img_wrap li{
    width: 30%;
    text-align: center;
}
.content_img_wrap picture{
    display: block;
    width: 24rem;
    height: 24rem;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.content_img_wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content_img_wrap .content_text{
    display: none;
    margin: 4rem auto;
    transition: all 3s;
}


.content_img_wrap h3{
    font-size: 2.5rem;
    font-weight: 600;
    color: #111;

}
.content_img_wrap p{
    font-size: 1.6rem;
    color: #767676;
    margin: 1.6rem;
}

/* 슬라이드 커스텀 */
.content-slider{
    padding: 0 8rem;
}
.swiper-slide{
    text-align: center;
}
.swiper-button-next, .swiper-button-prev{
    color: #DBDBDB;
    top: 15rem;
}
.swiper-button-prev:after{
    content: "\f104";
    font-family: "FontAwesome";
    font-weight: 400;
}
.swiper-button-next:after{
    content: "\f105";
    font-family: "FontAwesome";
    font-weight: 400;
}
/* 호버시 */
.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #111;
}

/* 슬라이드 활성화되면 텍스트 보이게 */
.swiper-slide-active .content_text,
.swiper-slide-prev .content_text,
.swiper-slide-next .content_text{ 
    display: block;
    animation: text-ani 1s .2s both;
}

/* 컨텐츠 텍스트 */
#content_info{
    font-size: 1.6rem;
    color: #767676;
    padding-bottom: 2rem;
}
#content_info > span{
    float: left;
}
#content_info strong {
    font-weight: 600;
    color: #3f3e3e;
}
#content_info > a {
    float: right;
    line-height: 10px;
}
#content_info > a > img{
    width: 8px;
    margin-left: 10px;
    vertical-align:middle;
}
/* ----------------- */
/* 컨텐츠 1 */
/* ----------------- */
#main_content2{
    padding-top: 20rem;
    padding-bottom: 23rem;
}

.about_us{
    background: url(../images/tea_field.png) no-repeat 35rem bottom;
    background-size: 37rem;
}
.about_us h2{
    font-size: 4.2rem;
    font-weight: 800;
    margin-bottom: 2rem;
}
.about_text_wrap{
    width: 580px;
    font-size: 1.6rem;
    /* 플롯 */
    float: left;
}

/* areaBtn */
.areaBtn ul{
    text-align: center;
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 4rem;
    background-color: #fff;
    /* 플렉스 */
    display: flex;
    justify-content: space-around;
}
.areaBtn li{
    display: inline-block;
    line-height: 8rem;
    font-weight: 600;
    margin: 0 35px;
    cursor: pointer;
    /* 포지션 */
    position: relative;
}
.areaBtn li.check::after{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #608106;
    /* 포지션 */
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 1;
}
/* 호버시 이벤트 */
.areaBtn li.check,
.areaBtn li:hover{
    color: #608106;
}

/* 지역에 대한 설명 스타일 */
.location li{
    display: none;
    height: 250px;
    color: #767676;
    animation: showAni 2s;
}
.location li.check{
    display: block;
}

/* 해당 지역에 대한 설명 */
.location li  p{
    margin: 50px 0;
    line-height: 1.6;
    animation: showAni_toBottom 1s;
}
/* 주요 생산 제품 */
.location li a{
    display: inline-block;
    color: #767676;
    padding-bottom: 5px;
    border-bottom: 1px solid #767676;
}
.location li a:hover{
    color: #608106;
    border-bottom: 1px solid #608106;
}

/* 해당 지역 사진 */
.about_img_wrap{
    /* 플롯 */
    float: right;
}
.about_img_wrap li{
    display: none;
}
.about_img_wrap li.check{
    display: block;
}
.about_img{
    display: inline-block;
    width: 36rem;
    height: 60rem;
    margin-left: 2rem;
}
.about_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about_img:last-child{
    transform: translateY(-70px);
}
/* ----------------- */
/* 컨텐츠 2 */
/* ----------------- */
#main_content3{
    width: 100%;
    height: 100vh;
    /* padding: 10rem 0; */
    scroll-snap-type:y mandatory;
    scroll-snap-align:center;
    scroll-snap-stop:always;
}
/* -------------------- */
/* 박스 슬라이드 커스텀 */
.main-slider{
    height: 100%;
    /* 포지션 */
    position: relative;
    font-family: 'Gowun Dodum', sans-serif;
}
.main-slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-pagination-bullet-active{
    background-color: #608106;
}
/* 박스슬라이더 텍스트 애니메이션 */
.info-box-wrap{
    height: 100%;
    /* 포지션 */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
.swiper-slide .info-box{
    width: 50rem;
    height: max-content;
    height: 100%;
    padding-bottom: 20px;
    background-color: rgb(255 255 255);
    padding: 10% 2rem;
    
    margin-left: auto;
    margin-right: 0;
}
.swiper-slide .info-box h2{
    text-align: start;
    font-size: 3.2rem;
    font-weight: 800;
    color: #111;
}
.swiper-slide .info-box h2::after{
    content: "";
    display: block;
    width: 90%;
    height: 2px;
    margin: 3rem 0;
    background-color: #DBDBDB;
}
.swiper-slide .info-box p{
    font-size: 1.8rem;
    text-align: start;
    
    line-height: 1.6;
    color: #767676;
}

/* 애니메이션 효과 */
.swiper-slide-active .info-box h2 {
    animation: text-ani 1s .1s both;
}
.swiper-slide-active .info-box p {
    animation: text-ani 1s .2s both;
}

@keyframes text-ani {
    0% { opacity: 0; transform: translateY(50px)};
    100% { opacity: 1; transform: translateY(100%)};
}

/* ----------------- */
/* 컨텐츠 3 */
/* ----------------- */
#main_content4{
    padding: 20rem 0;
    background: #82664F;
}
.since {
    /* 포지션 */
    position: relative;
}
.since_img_wrap{
    width: 55%;
    height: 100%;
    /* 플롯 */
    float: left;
}
.since_img{
    display: inline-block;
    width: 320px;
    height: 700px;
    margin-left: 20px;
    margin-bottom: 20px;

}
.since_img_wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* 텍스트 */
.since_text_wrap{
    margin-bottom: 5rem;
}
.since_text_wrap h2{
    font-size: 4.4rem;
    font-weight: 800;
    color: #fff;
}
.since_text_wrap p{
    margin: 2rem 0;
    font-size: 1.8rem;
    line-height: 1.4;
    color: #DBDBDB;


}
/* 슬라이드 커스텀 */
.since-swiper-scrollbar{
    height: 0.5rem;
    border-radius: var(--swiper-scrollbar-border-radius,10px);
    background-color: #0000002b;
}
.since-swiper-scrollbar div{
    background-color: #fff;
}
.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
    bottom: 0;
}
.swiper-scrollbar-drag{
    cursor: grab;
}
/* 슬라이드 버튼 */
.since-swiper-button-prev::after {
    content: "\f104";
    transform: translateX(-200%);
}
.since-swiper-button-next::after {
    content: "\f105";
    right: 0;
    transform: translateX(200%);
}
.since-swiper-button-prev::after,
.since-swiper-button-next::after{
    font-family: "FontAwesome";
    font-weight: 400;
    font-size: 10rem;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    /* 포지션 */
    position: absolute;
    top: 50%;
    z-index: 99;
}
.since-swiper-button-prev:hover::after,
.since-swiper-button-next:hover::after{
    color: #fff;
}
/* 슬라이드 콘텐츠 */
.since-slider picture{
    display: block;
    width: 100%;
    height: 100%;
}
.since-slider picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.since-slider .slide_text{
    text-align: start;
    margin-top: 2rem;
    margin-bottom: 4.8rem;
}
.since-slider .slide_text h3{
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0.8rem;
}
.since-slider .slide_text p {
    font-size: 1.6rem;
    line-height: 1.4;
    color: #DBDBDB;
}

/* ----------------- */
/* 컨텐츠 5 */
/* ----------------- */
#main_content5{
    padding: 16rem 0;
}
#main_content5 h2 {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    color: #111;
    line-height: 1.2;
    margin-bottom: 4rem;
}
#main_content5 p {
    text-align: center;
    font-size: 1.8rem;
    color: #767676;
    line-height:1.6;

    margin-bottom: 8rem;
}
/* 이미지 */
.dada-img-wrap .dada-img{
    width: calc(100%/3 - (4rem / 3));
    height: 60rem;
    margin-bottom: 2rem;
    /* 플롯 */
    float: left;
    /* 포지션 */
    position: relative;
}
.dada-img-wrap .dada-img:nth-child(3n + 2) {
    margin: 0 2rem;
}
.dada-img-wrap picture{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.dada-img-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 이미지 이중 처리 */
.dada-img ul{
    height: 100%;
}
.dada-img ul li{
    height: calc(50% - 1rem);
    margin-bottom: 2rem;
}
.dada-img ul li:last-child{
    margin-bottom: 0;
}
.dada-img-wrap .dada_text{
    text-align: start;
    padding: 4rem 2rem;
    line-height: 1.8;
    /* 포지션 */
    position: absolute;
    bottom: 0;
}
.dada-img-wrap .txt_top .dada_text{
    bottom: auto;
    top: 0;
}
.dada-img-wrap .dada_text dt{
    font-size: 1.6rem;
    color: #fff;
}
.dada-img-wrap .dada_text dd{
    font-size: 1.4rem;
    color: #fff;
}
/* ----------------- */
/* 컨텐츠 6 */
/* ----------------- */
#main_content6{

}
#main_content6 > article {
    text-align: center;
    padding: 12rem 0 24rem;
}
#main_content6 h2 {
    font-size: 3.2rem;
    font-weight: 600;
    color: #666;
    line-height: 1.2;
    margin-bottom: 3rem;
}
#main_content6 ul > li{
    display: inline-block;
}
#main_content6 ul > li > a {
    display: inline-block;
    border: 1px solid #767676;
    color: #767676;
    width: 20rem;
    padding: 2rem; 
    font-size: 1.6rem;
}
#main_content6 ul > li:nth-child(even) > a{
    margin: 0 4rem;
}
/* ==================== */
/* 푸터 */
/* ==================== */
footer{
    font-size: 1.4rem;
    color: #767676;
    background-color: #F5F5F5;
    padding: 5rem 0;
}
#footer_container{
    padding-bottom: 2rem;
    border-bottom: #c7c4c4 solid 1px;
    margin-bottom: 2rem;
}
/* 푸터 기업소개 */
.footer_logo{
    width: 13rem;
    margin-right: 2rem;
    text-align: left;
    line-height: 1.3;
    /* 플롯 */
    float: left;
}

footer .footer_gnb{

    /* 플롯 */
    float: left;
}
/* 푸터 네비 */
footer .footer_gnb li{
    display: inline-block;
    font-size: 1.4rem;
    color: #767676;
}
footer .footer_gnb_list{
    margin-bottom: 2rem;
}
footer .footer_gnb_list li:not(:last-child):after{
    content: "|";
    padding-right: 5px;
    margin-left: 5px;
}
footer .footer_gnb li:hover{
    color: #000000;
}

footer .footer_gnb p {
    line-height: 1.4;
}

.footer_sns{
    /* 플롯 */
    float: right;

}
.footer_sns li{
    display: inline-block;
    font-size: 2rem;
    color: #767676;
    margin-left: 20px;
}
#footer_container + div p {
    line-height: 1.4;
}
/* ======================= */
/* top 버튼 */
/* ======================= */
.top {
    width: 6rem;
    height: 6rem;
    border: 1px solid #ddd;
    border-radius: 50%;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    /* 플렉스 */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* 포지션 */
    position: fixed;
    bottom: 40px;
    right: 35px;
    z-index: 999;

    cursor: pointer;
}
.top i {
    font-size: 2.6rem;
}
.top:hover{
    border: 1px solid #6d6d6d;
    background-color: #6d6d6d;
    color: #fff;
}