body{
    font-family: 'Noto Sans', sans-serif;
}
#wrap{
    width: 100%;
    /* height: 100vh; */
    border: none;
}
#wrap{
    background-image: url(../images/poster_mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-size: 100% 100%; */
}

.header{
    padding: 24px;
    /* 포지션 */
    position: relative;
}
/* ==================================== */
/* 모바일 햄버거 메뉴 효과 */
/* ==================================== */
/* 햄버거 메뉴 그리기 */
.header input[type="checkbox"]{
    display: none;
}
.header input[type="checkbox"]+label{
    display: block;
    width: 24px;
    height: 14px;
    cursor: pointer;
    /* 포지션 위치기준값 */
    position: fixed;
    z-index: 100;
    /* background-color: #195730; */
}
.header input[type="checkbox"]+label span{
    display: block;
    width: 100%;
    height: 2px;
    background: #ccc;
    /* 포지션 */
    position: absolute;
    z-index: 100;
    transition: all 0.1s;
}
.header input[type="checkbox"]+label span:nth-child(3){top: 0;}
.header input[type="checkbox"]+label span:nth-child(2){top: 50%; transform: translateY(-50%);}
.header input[type="checkbox"]+label span:nth-child(1){bottom: 0;}
/* 호버시 */
.header input[type="checkbox"]:checked+label span:nth-child(3){top: 50%; transform: translateY(-50%) rotate(45deg);}
.header input[type="checkbox"]:checked+label span:nth-child(2){display: none;}
.header input[type="checkbox"]:checked+label span:nth-child(1){top: 50%; transform: translateY(-50%) rotate(-45deg);}
/* -------------------------- */
/* gnb 슬라이더 효과 */
.header nav.mobile_gnb{
    width: 250px;
    height: 100%;
    background-color: #195730;
    /* 포지션 */
    position: absolute;
    left: -250px;
    top: 0;
    z-index: 90;
    transition: all 0.3s;
}
.header input[type="checkbox"]:checked~.mobile_gnb{
    left: 0;
}
.header nav.mobile_gnb .gnb{
    padding: 64px 0 0 0;
    font-family: 'Late', sans-serif;
    font-size: 0.8rem;
}
.header nav.mobile_gnb .gnb li{
    height: 42px;
    line-height: 42px;
    padding-left: 24px;
}
.header nav.mobile_gnb .gnb li:hover:not(:last-child){
    background-color: #ccc;
}
.header nav.mobile_gnb .gnb li a{
    display: block;
    color: #ccc;
}
.header nav.mobile_gnb .gnb li:hover:not(:last-child) a{
    color: #000;
    font-weight: 700;
}
.header nav.mobile_gnb .gnb li:last-child a{
    cursor: default;
}
/* -------------- */
/* sns */
.header nav.mobile_gnb .sns{
    width: 234px;
    /* 플렉스 */
    display: flex;
    padding-left: 24px;
}
.header nav.mobile_gnb .sns li{
    width: 70px;
}
.header nav.mobile_gnb .sns li a{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 11px 0;
}
.header nav.mobile_gnb .sns i{
    font-size: 1.2rem;
    color: #ccc;
}
.sns li > .facebook{background-color: #3c5a98;}
.sns li:hover > .facebook{background-color: #2b4b8e;}
.sns li > .twitter{background-color: #56acef;}
.sns li:hover > .twitter{background-color: #1f93ec;}
.sns li > .instagram{background-color: #5cbf4a;}
.sns li:hover > .instagram{background-color: #2eb116;}

/* -------------- */
/* footer */
/* -------------- */
footer{
    background-color: #000;
    padding-top: 30px;
    text-align: center;
    /* 포지션 */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
}
footer > p{
    margin-bottom: 56px;
}
footer .copyright{
    padding-bottom: 24px;
}
footer .copyright p{
    color: #4c4c4c;
    margin-bottom: 24px;
}
footer .copyright p:last-child{
    font-size: 0.75rem;
}