@charset "utf-8";

/* ------------------------ */
/* 폰트 */
@import url('https://fonts.cdnfonts.com/css/gillsanswgl');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* ------------------------ */
/* 공통 CSS */
html,
body{
    width: 100%;
    height: 100%;
    font-family: 'GillSansWGL', 'Noto Sans KR', sans-serif;
    /* 1rem */
    font-size: 62.5%;
}

#wrap{
    min-width: 1300px;
}
/* safe area */
.w1300{
    min-width: 1300px;
    width: 1300px;
    margin: 0 auto;
}
/* ------------------------ */
/* 공통적으로 사용하는 CSS */
.hidden {
    display: none;
}
.alert{
    background: #111;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    border-radius: 2.5rem;
    white-space: nowrap;
    /* 포지션 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    opacity: 0;
    display: none;
}
.showAlert{
    display: block;
    animation: showAlert 2s;
}
@keyframes showAlert {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* =================== */
/* 탑 배너 */
/* =================== */
aside{
    color: white;
    background: #111;
}
aside .top_sub{
    display: block;
    line-height: 1.6rem;
    text-align: center;
    font-size: 1.4rem;
    padding: 1rem 0;
    /* 포지션 */
    position: relative;
}
aside .top_sub i{
    font-size: 1.2rem;
}
aside .close_btn{
    font-size: 1.2rem;
    position: absolute;
    right: 0;
}
aside.close {
    animation: closeTobBanner 0.3s;
}
@keyframes closeTobBanner {
    0% {
        height: 50px;
    }
    100% {
        height: 0;
    }
}
/* =================== */
/* header */
/* =================== */
/* lnb_all */
.lnb_all{
    height: 7rem;
    border-bottom: 1px solid #DBDBDB;
}
.root_lnb{
    padding: 2rem 0;
    /* 플렉스 */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
/* 로고 이미지 */
.root_lnb .logo a{
    margin-right: 30px;
}

.logo_wrap{
    display: flex;
    align-items: center;
}

/* 검색 바 */
.logo_wrap .header_search{
    width: 40rem;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 16px;
    background-color: #DBDBDB;
    /* 플렉스 */
    display: flex;
    align-items: center;

}
.logo_wrap .header_search input{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    margin-right: 1rem;
}
.logo_wrap .header_search input:focus{
    outline: none;
}
/* 검색 바 아이콘 */
.logo_wrap .search_btn{
    font-size: 1.4rem;
}

.lnb li {
    display: inline-block;
}
.lnb a{
    display: inline-block;
    padding: 0 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    vertical-align: middle;
}
.lnb li:first-child a {
    border-right: 1px solid #111;
}
/* ------------- */
/* gnb_all */
.gnb_all{
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #DBDBDB;
    font-size: 1.6rem;
    /* 포지션 */
    position: sticky;
    top: 0;
    z-index: 20;
}
.gnb_all.on{
    border-bottom: none;
}
.global{
    /* 플렉스 */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    /* 포지션 */
    position: relative;
}


/* ------------- */
/* gnb_all .gnb */
.global .gnb > li{
    display: inline-block;
    font-weight: 700;
    letter-spacing: -1px;
}

.global .snb > li {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 700;
}
.global a {
    display: inline-block;
    padding: 0 1rem;
    line-height: 5rem;
    border-bottom: 3px solid transparent;
}
/* ---------------- */
/* 전체메뉴 뒤에 색 추가 */
.gnb_all::after{
    content: "";
    display: none;
    width: 100%;
    height: 480px;
    border-top: 1px solid #DBDBDB;
    background: #fff;
    border-bottom: 1px solid #111;
    /* 포지션 */
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    z-index: 99;
}
.gnb_all:has(.total_gnb_ul > .check > .select_list > .check > .select_box)::after{
    background: linear-gradient(to right, #fff, #f5f5f5 50%);
}
.gnb_all.on::after{
    display: block;
    transition: height 0.8s;
    animation: showSnbBg 0.8s;
}
@keyframes showSnbBg {
    0% {
        height: 0;
    }
    100% {
        height: 480px;
    }
}

/* ------------- */
/* 전체 메뉴 확인하기 */
.total_gnb_wrap span {
    font-weight: 800;
    margin-left: 1rem;
}
.total_gnb_wrap a{
    min-width: 20rem;
    
}
.total_gnb_wrap:hover > a {
    border-bottom: 3px solid #111;
}
/* 전체메뉴 스타일 */
.total_gnb{
    width: 100%;
    height: 480px;
    border-top: 1px solid #DBDBDB;
    background-color: #fff;
    overflow: hidden;
    display: none;
    /* 포지션 */
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    z-index: 999;
}
.total_gnb.on {
    display: block;
    animation: showSnbBg 0.8s;
}

.total_gnb_ul {
    height: 100%;
    /* 포지션 */
    position: relative;
}
.total_gnb_ul > li{
    width: 100%;
}
.total_gnb_ul > li > a{
    width: 20rem;
    color: #111;
}

.total_gnb_ul li a{
    line-height: 36px;
    font-weight: 600;
    color: #aaaaaa;
}
/* ------------- */
/* 선택할 시 표시되는 메뉴 스타일 */
.select_list {
    width: 100%;
    height: 480px;
    border-left: 1px solid #393939;
    /* 포지션 */
    position: absolute;
    top: 0;
    left: 200px;
}
.select_list > li > a{
    width: 20rem;
}
.total_gnb_ul li:not(.check) .select_list,
.select_list li:not(.check) .select_box{
    display: none;
}
.select_box{
    width: 1000px;
    height: 480px;
    background : #f5f5f5;
    border-left: 1px solid #393939;
    /* 포지션 */
    position: absolute;
    top: 0;
    left: 200px;
}
/* ------------- */
/* 호버효과 */
.total_gnb_ul .check > a,
.select_list .check > a,
.total_gnb_ul .check a:hover{
    color: #111;
    border-bottom: 1px solid #393939;
}
.total_gnb_ul li:hover > a{
    border-bottom: 1px solid #393939;
}

/* ======================= */
/* article .slider */
/* ======================= */
article .swiper{
    height: calc(95vh - 16.1rem);
    overflow: hidden;
}
.top_banner.hidden ~ article .swiper{
    height: calc(95vh - 12.5rem);
}

/* 박스 슬라이더 커스텀 작업 */
.main-slider {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* 플렉스 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-slider .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 포지션 */
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.main-slider .swiper-button-next,
.main-slider .swiper-button-prev{
    color: #fff;
    padding: 40px;
    text-shadow: 0 0 2rem #8f8f8f;
}

/* swiper-controll-wrap 컨트롤 박스 스타일링 */
.main-slider .swiper-controll-wrap{
    padding: 1rem 2rem;
    border-radius: 16px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    /* 플랙스 */
    display: flex;
    align-items: center;
    /* 포지션 */
    position: absolute;
    top: 32px;
    right: 0%;
    transform: translateX(-50%);
    z-index: 10;
}
.main-slider .swiper-button-prev:after{
    content: "\f104";
    font-family: "FontAwesome";
    font-weight: 400;
}
.main-slider .swiper-button-next:after{
    content: "\f105";
    font-family: "FontAwesome";
    font-weight: 400;
}
/* 오토 제어버튼 */
.main-slider .autoplay-controll button{
    height: 2rem;
    margin-right: 1rem;
    text-align: center;
    /* 커서 */
    cursor: pointer;
}
.main-slider .autoplay-controll i{
    color: #fff;
    font-size: 1.5rem;
}

/* 현재위치  */
.main-slider .swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal{
    position: static;
}

/* -------------------- */
/* 박스슬라이더 텍스트 애니메이션 */
.swiper-slide .info-box{
    font-size: 50px;
    font-weight: 800;
    color: #554136;
    /* text-shadow: 0 5px 2rem rgba(0, 0, 0, 0.8); */
    /* 포지션 */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.swiper-slide .info-box h2{
    font-size: 35px;
    margin-bottom: 10px;
}

.swiper-slide-active .info-box h2 {
    animation: text-ani 1s .1s both;
}
.swiper-slide-active .info-box h3 {
    animation: text-ani 1s .2s both;
}

@keyframes text-ani {
    0% { opacity: 0; transform: translateX(50px)};
    100% { opacity: 1; transform: translateX(100%)};
}
/* 텍스트 애니메이션 위치 개별 조정 */
.mbaner02 .info-box{
    top: 80%;
}
.mbaner04 .info-box,
.mbaner05 .info-box{
    top: 30%;
}
.mbaner06 .info-box{
    top: 80%;
    color: #854000;
}
.mbaner07 .info-box{
    color: #fff;
}
/* ======================= */
/* main */
/* ======================= */
section h2 {
    font-size: 3rem;
    font-weight: 700;
}

/* --------------- */
/* section_lnb */
/* --------------- */
.section_lnb {
    margin-top: 6rem;
}
.section_lnb ul{
    /* 플렉스 */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section_lnb img{
    width: 8rem;
}
.section_lnb p {
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
}
/* --------------- */
/* md_pick */
/* --------------- */
.md_pick{
    margin-top: 8rem;
    min-height: 50rem;
}
/* --------------- */
/* md_pick 제목 */
.md_pick_title{
    margin-bottom: 1.5rem;
}
.md_pick_select{
    margin-bottom: 2rem;
}
.md_pick_select label{
    display: inline-block;
    height: 100%;
    font-size: 1.4rem;
    margin-right: 1rem;
    border: 1px solid #adadad;
    padding: 1rem 1.5rem;
    border-radius: 2.5rem;
    cursor: pointer;
}
.md_pick_select label::before{
    content: "#";
}
.md_pick_select input:checked + label{
    color: #fff;
    background-color: #111;
    border: none;
}
.md_pick_select input{
    display: none;
}
/* --------------- */
/* md_pick 각 아이템 */
.md_pick_itme_wrap{
    display: none;
}
.md_pick_itme_wrap.check {
    /* 그리드 */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
}

.md_pick_item {
    overflow: hidden;
    /* 포지션 */
    position: relative;
}

/* 이미지 스타일 */
.md_pick_item .item_img{
    width: 100%;
    height: 22rem;
    overflow: hidden;
    /* 포지션 */
    position: relative;
}
.md_pick_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
}
/* 호버시 이미지 스케일 키우기 */
.md_pick_item a:hover .item_img::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 포지션 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.md_pick_item a:hover img{
    transform: scale(1.05);
}

/* 하트 스타일 */
.item_heart{
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 0 0 0.5rem rgba(145, 145, 145, 0.89);
    padding: 1rem;
    /* 포지션 */
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    /* 커서 */
    cursor: pointer;
}
.item_heart:hover{
    color: #ff3434;
}

/* 텍스트 스타일 */
.item_text{
    padding: 1rem 0;
    font-size: 1.6rem;
    line-height: 1.4;
}
.item_text_title{
    display: -webkit-box;
    height: 5.5rem;
    max-height: 5.5rem;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 1.8rem;
    color: #111;
}
.item_text_title strong{
    font-weight: 600;
    font-size: 1.6rem;
}

/* 상품가격 */
.item_text_price{
    font-size: 2rem;
}
.item_text_price em{
    font-style: normal;
    color: #ff3434;
}
.item_text_price del{
    color: #DBDBDB;
    font-size: 1.4rem;
}

/* 상품정보 */
.item_text_info{
    font-size: 1.4rem;
    margin-top: 0.5rem;
    color: #646464;
    /* 플렉스 */
    display: flex;
    justify-content: space-between;
}
.item_text_info i {
    margin-left: 0.5rem;
    color: #ffb327;
}
/* --------------- */
/* section 02 */
/* --------------- */
.real_title{
    background-color: #f5f5f5;
    height: 100%;
    margin-top: 15rem;
    /* 포지션 */
    position: relative;
}
.real_title .real_time {
    height: 60rem;
    width: 20rem;
    /* 플렉스 */
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
/* 이미지 */
.real_time_img{
    width: 68%;
    height: 100%;
    overflow: hidden;
    /* 포지션 */
    position: absolute;
    left: 0;
}
.real_time_img a{
    display: none;
    width: 100%;
    height: 100%;


}
.real_time_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.real_time_img .check{
    display: block;
}

/* 텍스트 부분 */
/* 제목 */
.real_time h2{
    font-weight: 700;
    padding-bottom: 30px;
    border-bottom: 1px solid #DBDBDB;
}
/* 초이스 버튼 */
.real_time_btn{
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    /* 폰트 사이즈 */
    font-size: 2rem;
    color: #393939;
    cursor: pointer;
}
/* 호버효과 */
.real_time_btn.check,
.real_time_btn:hover{
    border-bottom: 1px solid #111;
}

/* 더보기 버튼 */
.real_time li:last-child{
    margin-top: 2.5rem;
    text-align: center;
    border: 1px solid #111;
}
.real_time li:last-child a{
    display: inline-block;
    width: 100%;
    font-size: 1.6rem;
    line-height: normal;
    padding: 1.5rem 0.5rem;
}
/* --------------- */
/* section 03 */
.megazne{
    margin-top: 15rem;
}
.megazne_title{
    margin-bottom: 5rem;
    /* 플렉스 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.megazne_title h3 {
    font-size: 1.6rem;
}
.megazne_content ul{
    /* 그리드 */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
.megazne_content li{
    border: 1px solid #DBDBDB;
    border-radius: 16px;
    overflow: hidden;
}

/* megazen_text */
.megazen_text{
    padding: 1rem 1.5rem;
}
/* .megazen_img */
.megazen_img{
    width: 100%;
    height: 24rem;
}
.megazen_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* megazen_title */
.megazen_title{
    font-weight: 600;
    font-size: 1.8rem;
    margin: 1rem 0;
}
.megazen_info{
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    color: #767676;
    /* 오버플로시 */
    display: -webkit-box;
    height: 4rem;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* --------------- */
/* section 04 이벤트 */
.event{
    margin-top: 15rem;
}
.event_title{
    margin-bottom: 4.4rem;
    /* 플렉스 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.event_title h3 {
    font-size: 1.6rem;
}
.event_sns ul{
    /* 플렉스 */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.event_sns li{
    width: calc(100%/2 - 0.5rem);
    /* 오버플로 */
    overflow: hidden;
}
.event_sns li{
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.event_sns li:nth-child(2n){
    margin-right: 0;
}
.event_sns img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
}
/* .event_sns ul:nth-child(1) li a{width: 50rem; height: 30rem;}
.event_sns ul:nth-child(2) li a{width: 100%; height: 60.5rem;}
.event_sns ul:nth-child(2) li img{
    object-position: left;
}
.event_sns ul:first-child li a{
    margin-left: 0;
}
.event_sns li:nth-child(odd) a{
    margin-bottom: 0.5rem;
}
.event_sns ul:last-child{
    width: 100%;
    height: 38rem;
    display: flex;
    flex-flow: column wrap;
} */
.event_sns ul:last-child a{
    width: 100%;
}
/* 호버시 이미지 스케일 키우기 */
.event_sns li a:hover::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 포지션 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.event_sns li a:hover img{
    transform: scale(1.05);
}

/* --------------- */
/* 광고배너 */
.ad-slider .swiper-slide{
    margin-top: 10rem;
    overflow: hidden;
    /* 플렉스 */
    display: flex;
    justify-content: center;
}
.ad-slider a{
    display: block;
    width: 100%;
    height: 100%;
}
.ad-slider .swiper-slide.ad01 a{background-color: #F1DFD5;}
.ad-slider .swiper-slide.ad02 a{background-color: #EEEAE7;}
.ad-slider .swiper-slide.ad03 a{background-color: #FFEF97;}
.ad-slider .swiper-slide.ad04 a{background-color: #F9F0E9;}
.ad-slider .swiper-slide.ad05 a{background-color: #FFECC4;}
.ad-slider picture{
    display: block;
}
.ad-slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ad-slider .swiper-pagination-bullet-active{
    background: #111;
}

/* ======================= */
/* footer */
/* ======================= */
footer{
    border-top: 1px solid #111;
    padding-bottom: 5rem;

}
/* ---------------- */
/* footer_Info */
.footer_Info{
    line-height: 1.5;
    padding-top: 5.7rem;
    color: #929294;
    /* 플렉스 */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
/* ---------------- */
/* footer_left */
.footer_left{
    /* 플렉스 */
    display: flex;
}
.footer_left .logo{
    margin-bottom: 1.8rem;
}
.footer_info_list{
    margin-left: 5.5rem;
    font-size: 1.2rem;
}
.footer_gnb{
    width: 100%;
    color: #929294;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    /* 플렉스 */
    display: flex;
    flex-flow: row wrap;
}
.footer_gnb li:not(:last-child){
    padding-right: 1.5rem;
    border-right: 1px solid #bebebe;
    margin-right: 1.5rem;
}
.footer_info_list p:not(:last-child){
    margin-bottom: 1.5rem;
}

/* ---------------- */
/* footer_right */
.footer_right{
    padding-top: 1.2rem;
    font-size: 1.3rem;
    font-weight: 400;
}
.footer_right a{
    color: #393939;
    font-size: 1.4rem;
    font-weight: 600;
}
.footer_tel {
    margin-top: 1rem;
    margin-bottom: 2rem;
    /* 플렉스 */
    display: flex;
    align-items: center;
}
.footer_tel dl{
    margin-right: 4rem;
}
.footer_tel dt{
    font-size: 1.4rem;
}
.footer_tel dd{
    font-size: 3rem;
    font-weight: 600;
    color: #393939;
}
/* ======================= */
/* top 버튼 */
/* ======================= */
.top a {
    width: 5rem;
    height: 5rem;
    text-align: center;
    border: 1px solid #DBDBDB;
    border-radius: 50%;
    background-color: #fff;
    /* 플렉스 */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* 포지션 */
    position: fixed;
    bottom: 4rem;
    right: 3.5rem;
    z-index: 999;
}

.top a:hover{
    border: 1px solid #6d6d6d;
    background-color: #6d6d6d;
    color: #fff;
}