/* 전역설정 */
html, body{
    height: 100%;
    width: 100%;
}

/* 공통 */
#wrap{
    max-width: 1920px;
    min-width: 1300px;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

/* safe area */
.w1300{width: 1300px; margin: 0 auto;}

img{max-width: min-content;}
li{display: inline-block;}

/* 개별설정 */
/* 배너 */
aside{height: 56px; background-color: #1d1c2e; color: #fff8f8;}
/* 헤더 */
header{height: 130px;}
article {height: 600px; background-color: #050507;}
/* 메인 */
main > section {display: flex; flex-direction: column; justify-content: center; align-items: center;}
main > section:nth-child(1){height: 775px;}
main > section:nth-child(2){height: 626px; background-color: #f5f5f5;}
main > section:nth-child(3){height: 735px;}
/* 플랙스 */
main > section:nth-child(3) ul{display: flex; flex-wrap: wrap;}
main > section:nth-child(3) ul li:nth-child(2) {margin-right: 5px;}
main > section:nth-child(3) ul ul{display: flex; flex-wrap: wrap; width: 380px;}
main > section:nth-child(3) ul ul li{margin-bottom: 5px; margin-right: 5px;}
main > section:nth-child(3) ul ul li:nth-child(2){margin-right: 0;}
main > section:nth-child(3) li{height: min-content;}
/* 푸터 */
footer{height: 330px; background-color: #1d1c2e; color: #fff8f8;}