
/* 폰트 스타일 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* 스크린 */
@import url(./screen-header.css);
@import url(./screen-main.css);
/* 스플래쉬 스크린 */
@import url(./splash-screen.css);


/* 공통 스타일 설정 */
body{
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.5;
    
    padding-top: 2%;
    padding-bottom: 20px;

    background-color: #B6D3E5;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ffffff' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#wrap{
    width: 800px;
    margin: 0 auto;

    /* 테두리 */
    border: 1px solid #abd0ea;
    border-radius: 10px;

    /* 배경 색상 */
    background-color: #fff;
}


footer{
    text-align: center;
    padding-bottom: 50px;
}