/* 전역설정 */
body{
    background: bottom fixed no-repeat url(../images/josh-calabrese-XXpbdU_31Sg-unsplash.jpg);
    background-size:cover;
}
#wrap{
    width: 1280px;
    height: 800px;
    padding: 40px;
    border: 3px solid black;
    margin: 30px auto;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 255, 255, 1);
}

img{
    max-width: min-content;
    vertical-align: middle;
}

/* 개별설정 */
/* header */
header{
    height: 32px;
}

header .logo{
    font-size: 32px;
    font-weight: 800;
    letter-spacing: -2px;
    /* 플롯 */
    float: left;
}
header p{
    font-size: 25px;
    /* 플롯 */
    float: right;
}

/* main */
main{
    height: 675px;
    background-color: #ccc;
}
/* main img */
main figure{
    width: 620px;
    line-height: 620px;
    text-align: center;
    /* 플롯 */
    float: left;
}

/* main .content */
main .content{
    padding-top: 75px;
    /* 플롯 */
    float: left;
}
main .content h2{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 60px;
}
main .content h3{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 80px;
    line-height: 55px;
}

/* main .description */
.description dl > dt,
.description dl > dd{
    display: inline-block;
}

/* main .description tel&mail */
.tel,.mail{margin-bottom: 25px;}
.tel > dt,.mail > dt{width: 70px;}

/* main .description sns */
.description :has(.sns){margin-bottom: 60px;}
.description .sns{margin-right: 16px;}

/* main .description 기술 */
dl.tack_list{margin-bottom: 15px;}

.tack_list > dd:not(:last-child):after{
    content: "";
    display: inline-block;
    height: 10px;
    vertical-align: middle;
    padding-right: 3px;
    border-right: #a29494 solid 1px;
    margin-right: 3px;
}
.tack_list a{
    color: #a29494;
    display: inline-block;
    padding: 3px 10px;
}
.tack_list a:hover{
    border-radius: 25px;
    background-color:darkseagreen;
    color: #fff;
}

/* footer */
footer{
    color: #494949;
    text-align: center;
}