/* 전역설정 */
#wrap{
    width: 698px;
    margin: 0 auto;
}

form{
    padding-top: 20px;
}

fieldset{
    padding: 40px;
    border: 1px solid #cccccc;
    /* 플렉스 */
    display: flex;
    justify-content: space-between;
}
/* goods_pt */
.goods_mini_pt{
    /* 플렉스 */
    display: flex;
}
.goods_brand{
    /* 플렉스 */
    display: flex;
    
}

/* goods_info */
.goods_info{
    width: 300px;
    height: 390px;
}

input[type="button"]{
    display: inline-block;
    width: 146px;
    height: 48px;
    color: white;
    border: none;
    background-color: #0f20fd;
}

/* goods_info_sub */
.goods_info_sub{
    margin: 24px 0;
    padding: 24px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.goods_info_sub dt{
    width: 25%;
    font-weight: 600;
}