@charset "UTF-8";
@import url(./reset.css);
@import url(./variable.css);
@import url(./font.css);

/* screen */
@import url(./screen/index.css);

@media (min-width: 680px) {
    #wrap{
        width: 680px;
        padding: 100px;
    }
    #login_form{
        border: var(--border-main);
        padding: 50px;
    }
    footer{
        border: none;
    }
}

body::before{
    content: "";
    display: block;
    width: 100%;
    height: 25px;
    background-color: rgba(176,176,176,0.1);
    border-bottom: var(--border-main);
}