@charset "UTF-8";
@import url(./reset.css);
@import url(./font.css);

#wrap{
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* header */
header{
    display: flex;
    line-height: 60px;

}
header > h1 {
    position: absolute;
    z-index: 2;
    width: 200px;
    height: 100px;
    line-height: 100px;
    background-color: #fe6b57;

}
header > nav{
    width: 80%;
    height: 60px;
    line-height: 60px;
    margin-left: 20%;
    background-color: #fe6b57;
}

/* main */
#content_box1, #content_box2{
    width: 100%;
    height: 300px;
    display: flex;
    line-height: 300px;
}
#content_box1 > *{width: 25%}
#content_box2 > *{width: 20%;}

#conent1{flex: 2 2 0;}
#conent4, #conent5{flex: 1.3 1.3 0;}
#conent6{
    display: flex;
    flex-direction: column;
    line-height: 150px;
}
#conent6 > *{height: 100%;}

/* 컬러 */
#conent1{background-color: #3c8fbd;}
#conent2{background-color: #f7dd73;}
#conent3{background-color: #00d1a4;}
#conent4{background-color: #9baae3;}
#conent5{background-color: #d66817;}
#conent6 > :nth-child(1){background-color: #0175ba;}
#conent6 > :nth-child(2){background-color: #1d4a65;}
#conent7{background-color: #fd6ed9;}

/* footer */
footer{
    background-color: #474747;
    padding: 25px;
}
