/* -------- */
/* Contents */
main > section {
    padding: 8rem 0;
}
/* 각 타이틀 스타일 */
.sec_title{
    font-weight: 600;
    font-size: 4.2rem;
    color: #111;
    margin-bottom: 4.8rem;
    text-align: center;
}
/* ------3-1. display영역------- */
#now {
    background: #F8F8FA;
}

/* -----3-2.promotion_section-------- */

/* -----3-3. Work ------*/

/* 이미지 정보 효과 */
.now_section ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 2rem;
}
.now_section li a  {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
}
.now_section li a::before{
    content: "";
    display: block;
    /* 포지션 */
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    opacity: 0;
    left: 0;
    top: 0;
    z-index: 100;
    transition: all 0.1s;
}
.now_section li a:hover::before{
    opacity: 0.7;
}
.now_section li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 정보텍스트 css */
.now_section li .sec_img_txt{
    opacity: 0;
    color: #fff;
    /* 포지션 */
    position: absolute;
    left: 5%;
    top: 5%;
    z-index: 200;
    transition: all 0.3s;
}
/* a를 호버하면 div를 */
.now_section li a:hover .sec_img_txt{
    opacity: 1;
}
.now_section li .sec_img_txt h3{
    font-size: 2.4rem;
}

/* -------3-4. blog_section------- */
/* 슬라이드 커스텀 */
.now-slider {
    width: 100%;
}
.now-slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.now-slider .swiper-slide a{
    display: inline-block;
    width: 30rem;
}


/* 스크롤바 커스텀 */
.now-swiper-scrollbar{
    width: 100%;
    height: 0.5rem;
    border-radius: var(--swiper-scrollbar-border-radius,10px);
    background-color: #0000002b;
}
.now-slider-scrollbar div{
    background-color: #fff;
}
.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
    bottom: 0;
}
.swiper-scrollbar-drag{
    background-color: #000000;
    cursor: grab;
}

/* -------3-5. contact_section----------- */
input, textarea{
    width: 100%;
    border: none;
    border-bottom: 1px solid #111;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    color: #111;
    transition: all 0.5s ease-in;
}
input:focus, textarea:focus{
    outline: none;
    border-bottom: 1px solid #DBDBDB;
}
/* input form */
.form_box .form input{
    padding-bottom: 14px;
    margin-bottom: 48px;
}
.form_box .form input:last-child{
    margin-bottom: 0;
}
/* textarea form */
.form_box textarea{
    height: 100%;
}
.send_btn{
    margin-top: 3rem;
    text-align: right;
}
.send_btn button{
    font-size: 1.2rem;
    color: #fff;
    background-color: #111;
    border-radius: 5%;
    padding: 15px;
    cursor: pointer;
}

/* ============================ */
/* 태블릿 : 너비 768px 이상 */
/* ============================ */
@media screen and (min-width:768px){

    .promotion_list {
        display: flex;
        flex-flow: row wrap;
    }
    .promotion_list li{
        /* (177/768)*100 = 23.046875 */
        width: 23.046875%;
        /* (20/768)*100 = 2.604166666666667 */
        margin-left: 2.604166666666667%;
        /* 속성값 수정 */
        margin-top: 0;
    }
    .promotion_list li:nth-child(1){
        margin-left: 0;
    }
    /* -----3-3. Work ------*/
    .now_section ul {
        grid-template-columns: repeat(2, auto);
    }
    /* -------3-4. blog_section------- */

    /* -------3-5. contact_section----------- */
    /* 2단 플롯 구조 */
    .form_box fieldset {
        display: flex;
        flex-flow: row nowrap;
    }
    .form_box .form{
        /* (768-20)/2 = 374 */
        /* (374/768)*100 = 48.69791666666667 */
        width: 48.69791666666667%;
        /* (20/768)*100 = 2.604166666666667 */
        margin-right: 2.604166666666667%;
    }
    .form_box .txta{
        width: 48.69791666666667%;
    }
}

/* ============================ */
/* pc : 너비 1132px 이상 */
/* ============================ */
@media screen and (min-width:1132px){
    /* 공통 css */
    .sec_title {
        text-align: left;
    }
    /* -----3-3. Work ------*/
    .now_section .sec_title{
        text-align: left;
    }
    .now_section ul {
        grid-template-columns: repeat(3, auto);
    }

    /* -------3-4. blog_section------- */
    .blog_section{
        margin-top: 12rem;
    }

    .blog_section .sec_title{
        margin-top: 0;
        margin-bottom: 4rem;
        text-align: left;
    }


    /* -------3-5. contact_section----------- */
    /* 3단 플롯 */
    .form_box{
        width: 100%;
    }
    /* 2단 플롯 구조 */
    .form_box .form{
        /* (844-20)/2 = 412 */
        /* (412/844)*100 = 48.81516587677725 */
        width: 48.81516587677725%;
        /* (20/844)*100 = 2.3696682464454977 */
        margin-right: 2.3696682464454977%;
    }
    .form_box .txta{
        width: 48.81516587677725%;
    }

}