/* 1. header */
header{
    width: 100%;
    height: 6rem;
    padding: 0 5%;
    border-bottom: 1px solid #fff;
    background: rgba(0, 0, 0, 0.2);
    /* 포지션 */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
header > .container {
    /* 그리드 */
    display: grid;
    grid-template-columns: 8rem auto;
    grid-gap: 3vw;
    justify-content: space-between;
}
header:has(input[id="ham"]:checked)::after{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    /* 포지션 */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
}
header.fixed {
    color: #111;
    background: #fff;
    border-bottom: 1px solid #DBDBDB;
}
header.fixed .logo a{
    background-image: url(../images/img_logo_on.png);
}
header.fixed .hambager_btn div {
    background: #000;
}
header.fixed .gnb li a{
    color: #111;
}
/* logo */
header .logo a{
    display: inline-block;
    width: 8rem;
    height: 6rem;
    color: transparent;
    letter-spacing: -2px;
    font-weight: 500;
    background: url(../images/img_logo.png) no-repeat center;
    background-size: contain;
}
/* gnb */
header .gnb {
    width: 0%;
    height: 100vh;
    font-size: 0;
    padding: 0;
    /* 포지션 */
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 999;
    transition: right 0.3s;
    background: #fff;
}
header .gnb ul{
    border-bottom: 1px solid #DBDBDB;
}
header .gnb li a{
    display: inline-block;
    width: 100%;
    font-size: 1.6rem;
    color: #111;
    /* 포지션 */
    position: relative;
}
/* 첫번째 li */
header .gnb > div > ul > li > a{
    line-height: 6rem;
}
header .gnb > div > ul > li > a::after{
    content: "\f105";
    display: inline-block;
    font-family: "FontAwesome";
    font-weight: 400;
    font-size: 1.6rem;
    color: #767676;
    /* 포지션 */
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

header .moblie_gnb a::before{
    content: "\f2c0";
    font-family: "FontAwesome";
    margin-right: 1rem;
}
header .moblie_gnb a {
    display: inline-block;
    width: 100%;
    font-size: 1.6rem;
    line-height: 6rem;
    font-weight: 500;
    border-bottom: 1px solid #DBDBDB;
}
/* 투뎁스 */
header .gnb ul ul {
    display: none;
}
header .gnb ul ul a {
    text-align: center;
}

/* -Hamberger Toggle-- */
input[id="ham"] {
    display: none;
}
.hambager_btn{
    display: block;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    /* 포지션 */
    position: relative;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1000;
}
.hambager_btn div{
    width: 100%;
    height: 0.2rem;
    background: #fff;
    transition: transform 0.3s;
}
.hambager_btn div:nth-child(2) {
    margin: 0.5rem 0;
}
/* 햄버거 메뉴 열릴 시 */
input[id="ham"]:checked + .hambager_btn div {
    background: #000;
    /* 포지션 */
    position: absolute;
    top: 50%;
}
input[id="ham"]:checked + .hambager_btn div:nth-child(2) {
    display: none;
}
input[id="ham"]:checked + .hambager_btn div:nth-child(1) {
    transform: rotate(135deg);
}
input[id="ham"]:checked + .hambager_btn div:nth-child(3) {
    transform: rotate(45deg);
}

input[id="ham"]:checked  ~ .gnb {
    width: 80%;
    padding: 0 2rem 0;
    right: 0;
    font-size:  1.2rem;
}
input[id="ham"]:checked  ~ .gnb > ul {
    display: block;
}

/* ============================ */
/* pc : 너비 1132px 이상 */
/* ============================ */
@media screen and (min-width:1132px){
    /* 모바일 속성값 초기화 */
    header:has(input[id="ham"]:checked)::after{
        background: none;
    }
    header .gnb {
        width: 100%;
        height: 6rem;
        background:none;
        padding: 0;
        /* 포지션 */
        position: static;
    }
    input[id="ham"] ~ nav .gnb li {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
    }
    header .gnb li{
        border-bottom: none;
    }
    /* 햄버거 메뉴 */
    .gnb .moblie_gnb, 
    .hambager_btn,
    .menu_toggle_btn{
        /* 태블릿, pc단에서부터는 안보이도록 */
        display: none;
    }
    header .gnb li a::after{
        content: "";
        font-family: inherit;
        font-weight: inherit;
        color: inherit;
        top: auto;
        right: auto;
        transform: none;
    }
    header .gnb ul {
        border-bottom: none;
    }
    header .gnb > div > ul > li > a::after{
        content: "";
        color: inherit;
        top: auto;
        right: auto;
        transform: none;
    }
    /* -------------- */
    header{
        grid-template-columns: 8rem minmax(0, 1fr);
    }
    /* 호버시 */
    header:hover{
        color: #111;
        background: #fff;
        border-bottom: 1px solid #DBDBDB;
    }
    header:hover .logo a{
        background-image: url(../images/img_logo_on.png);
    }
    header:hover .hambager_btn div{
        background: #000;
    }
    header:hover .gnb li a{
        color: #111;
    }
    header:has(.gnb_box:hover)::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 55rem;
        background: rgba(255, 255, 255, 1);
        border-bottom: 1px solid #000;
        /* 포지션 */
        position: fixed;
        top: 6rem;
        left: 0;
        z-index: 0;
    }
    /* gnb */
    header .gnb {
        /* 그리드 */
        display: grid;
        grid-template-columns: repeat(2, min-content);
        justify-content: end;
        gap: 2%;
    }
    .gnb_box {
        height: max-content;
        /* 그리드 */    
        display: grid;
        grid-template-columns: repeat(2, min-content);
        gap: 2%;
    }
    .gnb_box > ul:first-child{
        border-right: 1px solid #DBDBDB;
        /* 그리드 */    
        display: grid;
        grid-template-columns: repeat(3, 10rem);
    }
    .gnb_box > ul:last-child{
        
        /* 그리드 */    
        display: grid;
        grid-template-columns: repeat(2, 10rem);
    }

    .info_box {
        border-left: 1px solid #DBDBDB;
        /* 그리드 */
        display: grid;
    }
    .info_box > ul {
        /* 그리드 */    
        display: grid;
        grid-template-columns: repeat(3, 10rem);
    }
    /* gnb 메뉴 호버시 */
    header .gnb li:hover > a::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 1px;
        background: #111;
        /* 포지션 */
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: all 0.3s;
        animation: gnb_hover 0.5s;
    }
    @keyframes gnb_hover {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
    /* 첫번째 li */
    header .gnb > div > ul > li > a{
        line-height: 6rem;
        color: #fff;
        font-weight: 500;
        text-align: center;
    }

    /* 투뎁스 설정 */
    header .gnb ul ul a{
        font-size: 1.4rem;
        line-height: 5rem;
    }
    header:has(.gnb_box:hover) .snb {
        display: block;
        padding-bottom: 5rem;
    }
}