@charset "UTF-8";
@import url(./reset.css);
@import url(./font.css);
@import url(./variable.css);

/* 전역설정 */
body{
    font: 400 13px/1.6 'Noto Sans KR', sans-serif;
}

#wrap{
    width: 1000px;
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

i{
    margin-right: 3px;
}

dt, dd{
    margin-bottom: 10px;
}

/* 기술리스트 */
.technology > li{
    /* height: 20px; */
    display: inline-block;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #edf0f7;
    cursor: pointer;
    font-size: 12px;
}
.technology.blue > li{
    background-color: #2a424e;
    color: white;
}

dt > span{
    color: #afb6bc;
}

/* 개별설정 */
/* header */
header{
    width: 360px;
}
header > h1{
    font: 600 24px/1.6 'Noto Sans KR', sans-serif;
    margin-bottom: 10px;
}

#propel >ul{
    overflow: hidden;
}
#propel >ul > li{
    padding: 20px 0;
    border-bottom: 1px solid #ececec;
    box-shadow: 0 3px 6px -3px gainsboro;
}
#propel_aboutme{
    white-space: pre-line;
}

/* main */
main{
    width: 600px;
}
main > section{
    padding: 30px;
    margin-bottom: 25px;
    border: 1px solid #ececec;
    border-radius: 10px;
    box-shadow: #ececec 1px 1px 10px 0;
}

section p {
    width: 200px;
}