@charset "UTF-8";
@import url(./reset.css);
@import url(./font.css);

/* 전역설정 */
body{
    line-height: 1.6;
    font: 13px 'Noto Sans KR', 'Roboto', sans-serif;
    background-color: #aaa;
}
#wrap{
    width: 800px;
    margin: 0 auto;
    background-color: #fff;
    margin-bottom: 50px;
}

/* 개별설정 */
/* 헤더 */
header{
    background-color: orange;
    color: white;
    text-align: center;
}
h1{font: 600 800% 'Roboto', sans-serif;}
h1 > span{
    display: block;
    font-size: 20px;
    padding: 4px;
}
header > p {
    background-color: rgb(187, 187, 187);
    padding: 5px;
}
header > p > span{
    font-style: normal;
    font-weight: 700;
    color: blue;
}

/* 메인 */
main h2{font: bold 1.3rem 'Roboto', sans-serif;}
main .cf a:hover{background-color: rgba(0, 0, 0, 0.5);}

/* nav */
.nav h2{
    background-color: darkred;
    padding: 10px 15px;
    color: white;
}
.nav ul > li {padding: 10px 5px;}
.nav a{
    padding: 0 10px;
    text-decoration: underline dashed 1px black;
}

/* content */
.content{background-color: #ccc;}
.content section{padding: 10px;}
.content h2{
    background-color: #123456;
    padding: 10px 15px;
    color: white;
}
.content h2 + p{
    color: #123456;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0;
}

/* aside */
.aside{padding: 10px 15px;}
.aside > h2{margin-bottom: 20px;}
.aside > h2 > strong{font-weight: 900;}
.aside > h2 > .love{
    color: orange;
    text-decoration: underline solid 2px orange;
    margin: 5px 0;
}
.aside > ul > li{margin-bottom: 20px;}

/* 2단 플롯 컨텐츠 컨테이너 */
#content_box {
    float: left;
    width: 75%;
}
.nav{
    float: left;
    width: 25%;
}
.content{
    float: right;
    width: 75%;
}
.aside{
    float: right;
    width: 25%;
}
/* 플롯끝 */

/* footer */
footer{
    text-align: center;
    background-color: #123456;
    color: #fff;
    padding: 20px;
}
footer a{
    color: darkred; 
    font-weight: 600;
}
